@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Roboto+Mono:wght@100..700&display=swap');

$texto:  'Montserrat', sans-serif;
$titulo:  'Roboto Mono', monospace;
$coloruno: #8a3a84 ;
$colordos: black;

:root{
    --bs-body-bg: #CCDDE2 ;
  }

 .btn-outline-success{
    --bs-btn-border-color: gray;
    --bs-btn-hover-bg: $colordos ; 
  }

body{
    font-family: $texto;
    background-color: var(--color-fondo);
    font-size: 15px;
}

h1, h2{ 
  font-family: $titulo 
}


.carousel{
    width: 100%;
    padding-bottom: 3.5rem;
}

.titulo,.row ,h3{ 
    padding: 4rem;
  }

h1 {
    font-size: 60px;
    padding-bottom: 0.1;
}

h3{
    font-size: 20px;
    padding-top: 0.1;
}


.row, .container-md2{
    text-align: center;
    padding-top: 6rem;
    padding-bottom: 6rem; 
}

.camara {
    width: 60%;
}

.btn-primary-sabe{
    background-color: $coloruno;
    &:hover {
      background-color: $colordos;
    }
  }

.imagen5, .imagen6 {
padding: 2rem;}


footer{
    height: 25vh;
    margin: 0;
    background-color: $coloruno;
  }


@media (max-width: 768px){

    header { height: auto;} }